rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isSignedIn() {
      return request.auth != null;
    }

    function isSelf(uid) {
      return isSignedIn() && request.auth.uid == uid;
    }

    function userRole() {
      return isSignedIn()
        ? firestore.get(/databases/(default)/documents/users/$(request.auth.uid)).data.role
        : 'public';
    }

    function isAdmin() {
      return isSignedIn() && userRole() == 'admin';
    }

    match /public/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /registration_docs/{uid}/{fileName} {
      allow read, write: if isSelf(uid) || isAdmin();
    }

    match /incident_attachments/{uid}/{fileName} {
      allow read, write: if isSelf(uid) || isAdmin();
    }
  }
}
